.about-me {
	align-items: center;
	border: $debug; //deb
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	min-height: 5000px;
	width: 100%;
	.greetings {
		align-items: center;
		background-color: black;
		display: flex;
		justify-content: center;
		position: inherit;
		height: $greetings-height;
		width: 100%;
		h1 {
			color: white;
			font-family: "introrustg-base2line";
			font-size: $h1;
			font-weight: normal;
			text-align: center;
			position: inherit;
			bottom: 200px;
		}
	}
	.transition {
		background: linear-gradient(to bottom, black 0%, transparent 100%);
		border: none;
		height: $transition-height;
		width: 100%;
	}
	.personal-box {
		align-items: center;
		border-left: $border;
		border-right: $border;
		border-top: $border;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: inherit;
		width: 90%;
		.my-name {
			display: flex;
			flex-direction: column;
			position: inherit;
			height: 1200px;
			width: 100%;
			.section-title {
				align-items: center;
				background-color: darkslategray;
				background-image: url(../img/background-title.jpg);
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				border-bottom: $border;
				border-top-left-radius: 50px;
				border-top-right-radius: 50px;
				color: $title-color;
				display: flex;
				justify-content: center;
				padding: 10px 0;
				position: inherit;
				width: 100%;
				h2 {
					font-family: $font-title;
					font-size: 42px;
					font-weight: normal;
					text-align: center;
					br {
						display: none;
					}
				}
			}
			.section-detail {
				align-items: center;
				background-color: inherit;
				background-image: url(../img/background-section.jpg);
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				position: inherit;
				height: 100%;
				width: 100%;
				.add-info {
					color: white;
					font-size: 32px;
					margin-top: 40px;
					position: absolute;
					text-align: center;
					text-shadow: 5px 5px 5px black;
					top: 0;
				}
				.pic-pag {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					position: relative;
					width: 100%;
					.pic-pag-mid {
						display: flex;
						justify-content: space-evenly;
						position: inherit;
						width: 100%;
						.slide-control {
							display: none;
						}
						.bullets {
							display: none;
						}
						.controls {
							display: none;
						}
						.inner {
							display: flex;
							justify-content: space-evenly;
							position: inherit;
							width: 100%;
							.slide {
								display: flex;
								justify-content: space-evenly;
								position: inherit;
                                width: 100%;
								.slide-content {
									display: flex;
									justify-content: center;
									position: inherit;
									.overlay-btn {
										cursor: pointer;
										display: flex;
										justify-content: center;
										position: inherit;
										.img-block {
											box-shadow: 5px 5px 10px black;
											display: block;
											position: inherit;
										}
									}
									#overlayCheck1,
									#overlayCheck2 {
										display: none;
										&:checked {
											~ .overlay {
												height: 17%;
											}
										}
									}
									.overlay {
										-moz-transition: height 0.5s ease;
										-ms-transition: height 0.5s ease;
										-o-transition: height 0.5s ease;
										-webkit-transition: height 0.5s ease;
										align-items: flex-start;
										background-color: transparentize(black, 0.3);
										display: flex;
										justify-content: center;
										overflow: hidden;
										position: absolute;
										transition: height 0.5s ease;
										height: 0;
										max-width: auto; //DIPENDE DALL'IMMAGINE
										bottom: 0;
										.image-desc {
											color: white;
											display: block;
											font-size: 22px;
											padding: 10px;
											position: relative;
											text-align: justify;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.my-hobbies {
			border: $debug; //deb
			display: flex;
			flex-direction: column;
			position: inherit;
			height: 1000px;
			width: 100%;
			.section-title {
				align-items: center;
				border: $debug; //deb
				display: flex;
				justify-content: center;
				padding: 10px 0;
				position: inherit;
				width: 100%;
			}
			.section-detail {
				align-items: center;
				border: $debug; //deb
				display: flex;
				justify-content: center;
				position: inherit;
				width: 100%;
			}
		}
	}
}