.about-me {
	align-items: center;
	border: $debug; //deb
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;
	.greetings {
		align-items: center;
		background-color: black;
		display: flex;
		justify-content: center;
		height: 91vh;
		min-height: 440px;
		width: 100%;
		h1 {
			color: white;
			font-size: $h1;
		}
	}
	.transition {
		background: linear-gradient(to bottom, black 0%, transparent 100%);
		border: none;
		height: 10vh;
		width: 100%;
	}
	.personal-box {
		align-items: center;
		background-color: inherit;
		background-image: url(../img/background-section.jpg);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		border-left: $border;
		border-right: $border;
		border-top: $border;
		border-top-left-radius: $section-title-radius;
		border-top-right-radius: $section-title-radius;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: inherit;
		width: 90%;
		.my-name {
			display: flex;
			flex-direction: column;
			position: inherit;
			height: 110vh;
			min-height: 650px;
			width: 100%;
			.name-section-title {
				align-items: center;
				background-color: darkslategray;
				background-image: url(../img/background-title.jpg);
				background-position: top;
				background-repeat: no-repeat;
				background-size: cover;
				border-bottom: $border;
				border-top-left-radius: $section-title-radius;
				border-top-right-radius: $section-title-radius;
				color: $title-color;
				display: flex;
				justify-content: center;
				padding-bottom: 1vh;
				padding-top: 1vh;
				width: 100%;
				h2 {
					font-size: $h2;
					br {
						display: none;
					}
				}
			}
			.name-section-detail {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				position: inherit;
				height: 100%;
				width: 100%;
				.name-pic-pag {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					position: inherit;
					width: 100%;
					.name-slide-control {
						display: none;
					}
					.name-bullets {
						display: none;
					}
					.name-inner {
						display: flex;
						justify-content: space-evenly;
						position: inherit;
						width: 100%;
						.name-slide {
							display: flex;
							justify-content: center;
							position: inherit;
							width: 100%;
							.name-slide-content {
								display: flex;
								justify-content: center;
								position: inherit;
								.name-overlay-btn {
									cursor: pointer;
									display: flex;
									justify-content: center;
									position: inherit;
									width: 100%;
									.name-img-block {
										border-radius: $border-radius;
										box-shadow: 0.5vh 0.5vw 1vw black;
										display: block;
										position: inherit;
										max-height: $image-overlays * 1.2;
									}
								}
								#nameOverlayCheck1,
								#nameOverlayCheck2 {
									display: none;
								}
								#nameOverlayCheck1 {
									&:checked {
										~ .name-overlay {
											height: 19%;
										}
									}
								}
								#nameOverlayCheck2 {
									&:checked {
										~ .name-overlay {
											height: 25%;
										}
									}
								}
								.name-overlay {
									-moz-transition: height 0.5s ease;
									-ms-transition: height 0.5s ease;
									-o-transition: height 0.5s ease;
									-webkit-transition: height 0.5s ease;
									align-items: flex-start;
									background-color: transparentize(black, 0.3);
									border-bottom-left-radius: $border-radius;
									border-bottom-right-radius: $border-radius;
									display: flex;
									justify-content: center;
									overflow: hidden;
									position: absolute;
									transition: height 0.5s ease;
									height: 0;
									width: 100%;
									bottom: 0;
									.name-img-desc {
										color: white;
										display: block;
										font-size: $normal-font;
										padding: 1vh 1vw;
										position: relative;
										text-align: justify;
									}
								}
							}
						}
					}
				}
				.add-info {
					align-self: flex-end;
					background: radial-gradient(#444 -100%, transparent 100%);
					border-radius: 100%;
					color: white;
					font-size: $additional-info;
					text-align: right;
					text-shadow: 0.5vh 0.5vw 1vw black;
					padding: 0.5vh 1vw;
					max-width: 75%;
				}
			}
		}
	}
	.my-hobbies {
		display: flex;
		flex-direction: column;
		position: inherit;
		height: 110vh;
		min-height: 648px; //mod
		width: 100%;
		.hobby-section-title {
			align-items: center;
			background-color: darkslategray;
			background-image: url(../img/background-title.jpg);
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
			border-bottom: $border;
			border-top: $border;
			border-top-left-radius: $section-title-radius;
			border-top-right-radius: $section-title-radius;
			color: $title-color;
			display: flex;
			justify-content: center;
			padding-bottom: 1vh;
			padding-top: 1vh;
			position: inherit;
			width: 100%;
			h2 {
				font-size: $h2;
			}
		}
		.hobby-section-detail {
			align-items: center;
			display: flex;
			justify-content: center;
			position: inherit;
			height: 100%;
			min-height: 440px;
			width: 100%;
		}
	}
}
