@font-face {
	font-family: "introrustg-base2line";
	src: url(../fonts/introrustg-base2line.otf) format("opentype"), url(../fonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff) format("woff"), url(../fonts/introrustg_base2line_macroman/introrustg-base2line-webfont.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

//box limits test
$debug: 1px solid black;

//personal fonts
$font-title: "introrustg-base2line", sans-serif;

//colors
$dark-color: #111;
$footer-mid-color: #04091c;
$inner-box: #2e465f;
$logo-p-color: white;
$primary-color: #262d42;
$primary-color-scrollbar: #394362;
$secondary-color: #063258;
$secondary-color-scrollbar: #094d88;
$soft-shadow: #555;
$title-color: #ab9c87;
$altered-text: #999;
$visited-links-perm: #d0d0d0;

//border shapes
$border: 1px solid $title-color;
$border-lg: 2px double $title-color;
$border-radius: 10px;
$section-title-radius: 50px;

//font sizes
$h1: 56px;
$h2: $h1 * 0.75; //42px
$h3: $h2 * 0.75; //31.5px (Min-constant = 0.55)
$h4: $h3 * 0.9; //28.35px (Min-constant = 0.6)
$h5: $h4 * 0.9; //25.515px (Min-constant = 0.65)
$normal-font: $h5 * 0.9; //22.9635px (Min-constant = 0.7)
$form-font: $normal-font * 0.9; //20.66715px (Min-constant = 0.8)

//other
$bullet-points-size: 30px;
$header-height-limits: 100px;
$hobby-slide-height-limits: 390px;
$min-viewport-width: 280px;
$name-image-block-limits: 450px;
$name-min-viewport-height: 700px;
$name-min-viewport-image-height: 410px;
$shadow: 0.5vh 0.5vw 1vmax $dark-color;
$shadow-internal: inset 0vh 0vw 1vmax $soft-shadow;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	::-webkit-scrollbar {
		width: 0.5vw;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: $altered-text;
		border-radius: calc($border-radius/2);
		&:hover {
			background: $title-color;
		}
	}
}

body {
	background-color: $primary-color;
	background-image: url(../img/background-lofi.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $title-color;
	font-family: $font-title;
	font-weight: normal;
	text-align: center;
}
h1 {
	color: $altered-text;
	font-size: $h1;
}
h2,
legend {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
h4 {
	font-size: $h4;
}

p {
	color: $logo-p-color;
	font-size: $normal-font;
	text-shadow: $shadow;
}
