footer {
	align-items: center;
    background: linear-gradient(135deg, $primary-color, $footer-corners-color, $primary-color);
	border-top: $border;
    display: flex;
	position: relative;
	height: 50vh;
	min-height: 414px;
	width: 100%;
	.footer-nav {
        display: flex;
        justify-content: space-evenly;
        height: 90%;
        width: 100%;
        form {
            display: flex;
            font-family: $font-title;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0 1vw;
            height: 100%;
            width: 50%;
            legend {
                color: $title-color;
            }
            fieldset {
                border: none;
                display: flex;
                margin-top: 1vh;
                &:last-of-type {
                    height: 100%;
                }
                label {
                    color: $altered-text;
                    padding-left: 1vw;
                    font-size: $h5;
                    width: 35%;
                }
                input {
                    border: $border;
                    border-radius: $section-title-radius;
                    box-shadow: $shadow, $shadow-internal;
                    font-size: $form-font;
                    padding: 0 0.5vw;
                    width: 25vw;
                }
                textarea {
                    border: $border;
                    border-radius: $border-radius;
                    border-bottom-right-radius: 0;
                    box-shadow: $shadow, $shadow-internal;
                    font-size: $form-font;
                    padding: 0.5vw;
                    height: 90%;
                    width: 25vw;
                }
            }
            span {
                display: flex;
                justify-content: flex-end;
                height: 20%;
                input {
                    border: $border;
                    border-radius: $section-title-radius;
                    box-shadow: $shadow;
                    font-size: $form-font;
                    height: 100%;
                    width: 20%;
                    &[type=submit] {
                        background-color: $secondary-color;
                        color: $title-color;
                    }
                    &[type=reset] {
                        background-color: $primary-color;
                        color: $altered-text;
                        margin: 0 2vw;
                    }
                }
            }
        }
		.footer-separator {
            border: none;
            border-left: $border;
			height: 100%;
		}
        .socials {
            border: $debug; //d
            width: 50%;
        }
	}
}
