header {
	background: linear-gradient(to bottom, $secondary-color 0%, $dark-color 100%);
	position: relative;
	max-height: $header-height-limits;
	height: 6vmax;
	min-height: $header-height-limits * 0.55;
	width: 100%;
	.header-nav {
		align-items: center;
		background-image: url(../img/background-title.jpg);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: $border;
		border-bottom-right-radius: $border-radius;
		display: flex;
		font-family: $font-title;
		justify-content: space-between;
		padding-left: 1vw;
		position: relative;
		height: 100%;
		width: 100%;
		.logo-container,
		.head-separator,
		.head-section {
			display: flex;
		}
		.logo-container,
		.head-section {
			position: inherit;
		}
		.head-separator,
		.head-section {
			height: 100%;
		}
		.logo-container {
			align-content: flex-end;
			justify-content: space-around;
			text-decoration: none;
			.logo-img {
				display: flex;
				.logo-alt {
					object-fit: contain;
					width: 7vmax;
				}
			}
			em {
				align-self: flex-end;
				color: $logo-p-color;
				display: block;
				font-size: 4vmax;
			}
		}
		.head-separator {
			border: none;
			border-right: $border;
			border-radius: $border-radius;
			position: relative;
			width: 2vw;
		}
		.head-section {
			align-items: center;
			justify-content: flex-end;
			width: 80vw;
			.head-menu {
				display: flex;
				justify-content: flex-end;
				width: 100%;
				.head-menu-btn {
					display: none;
					.menu-icon {
						display: none;
						filter: invert(1);
					}
				}
				.head-menu-btn,
				#expandList {
					display: none;
				}
				.head-list {
					align-items: center;
					display: flex;
					justify-content: space-evenly;
					width: 85%;
					.head-list-item {
						-moz-transition: 0.5s ease;
						-o-transition: 0.5s ease;
						-webkit-transition: 0.5s ease;
						color: $logo-p-color;
						font-size: $header-link;
						text-align: center;
						text-decoration: none;
						transition: 0.5s ease;
						&:hover {
							text-shadow: 0.5vh 0.5vw 1vmax black;
						}
						&:active,
						&:visited:active {
							-moz-transform: translate(2px, 2px);
							-ms-transform: translate(2px, 2px);
							-o-transform: translate(2px, 2px);
							-webkit-transform: translate(2px, 2px);
							color: $altered-text;
							text-shadow: none;
							transform: translate(2px, 2px);
						}
						&:visited {
							color: $visited-links-perm;
						}
						&:hover,
						&:visited:hover {
							color: $title-color;
						}
					}
					.list-separator {
						border: $border;
						height: 2vmax;
					}
				}
			}
			.head-cont-separator,
			.lang-stg {
				position: inherit;
				height: 100%;
			}
			.head-cont-separator {
				border: none;
				border-right: $border;
			}
			.lang-stg {
				align-items: center;
				background: inherit;
				display: flex;
				justify-content: center;
				padding: 0 1vw;
				.lang-btn,
				.lang-content {
					align-items: center;
				}
				.lang-btn {
					-moz-transition: 0.5s ease;
					-ms-transition: 0.5s ease;
					-o-transition: 0.5s ease;
					-webkit-transition: 0.5s ease;
					border: 1px solid transparent;
					border-radius: $border-radius;
					cursor: pointer;
					display: flex;
					padding: 0.5vh 0.5vw;
					transition: 0.5s ease;
					z-index: 2;
					&:hover {
						border: $border;
						box-shadow: 0.5vh 0.5vw 1vmax black;
					}
					.lang-btn-alt {
						filter: invert(1);
						width: 3vmax;
					}
					span {
						color: $logo-p-color;
						font-size: $language-button-marker;
					}
				}
				#expandLang {
					display: none;
					&:checked {
						~ .lang-btn {
							border: 1px solid transparent;
							box-shadow: none;
							transition: none;
						}
						~ .lang-content {
							display: flex;
						}
					}
				}
				.lang-content {
					background-color: linear-gradient(to bottom, $secondary-color 0%, black 100%);
					background-image: url(../img/background-title.jpg);
					background-position: top;
					background-repeat: no-repeat;
					background-size: cover;
					border: $border;
					border-right: none;
					border-top: none;
					border-bottom-right-radius: $border-radius;
					display: none;
					flex-direction: column;
					justify-content: flex-end;
					padding: 0 1vw 1vmax 1vw;
					position: absolute;
					z-index: 1;
					height: 14vmax;
					left: 0;
					right: 0;
					top: 0;
					.lang-item {
						display: flex;
						justify-content: flex-end;
						margin-top: 1vmax;
						box-shadow: 0.5vh 0.5vw 1vmax black;
						.lang-item-alt {
							width: 2vmax;
						}
					}
				}
			}
		}
	}
}