.about-me {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;
	.greetings {
		align-items: center;
		background: linear-gradient($dark-color 90%, transparent 100%);
		display: flex;
		justify-content: center;
		height: 101vh;
		min-height: 440px;
		width: 100%;
	}
	.personal-box {
		@include main-background;
		align-items: center;
		border: $border;
		border-radius: $section-title-radius;
		box-shadow: $shadow;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 5vh 0;
		position: inherit;
		min-height: 1000px;
		width: 95%;
		@import "main1-my-name-style";
		@import "main1-my-hobbies-style";
	}
	.max-sticky-height {
		display: flex;
		position: absolute;
		height: 70%;
		bottom: 0;
		right: 0;
		a {
			@include base-transition;
			@include title-background;
			align-self: flex-end;
			border: $border;
			border-radius: $border-radius;
			box-shadow: $shadow;
			margin: 0 1vw 1vh 0;
			padding: 5px 5px;
			position: sticky;
			min-width: 35px;
			bottom: 1vh;
			img {
				filter: $title-filter;
				width: 3vw;
				min-width: 35px;
			}
			&:hover {
				box-shadow: $shadow-special;
			}
		}
	}
}