.skills-equip {
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 100%;
	.maj-skills {
		position: inherit;
		width: 50%;
		h2 {
			background-color: $secondary-color;
			background-image: url(../img/background-title.jpg);
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
			border-bottom: $border;
			text-shadow: $shadow;
		}
		.maj-skills-ord {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0 1vw 0 1vw;
			position: inherit;
			width: 100%;
			.maj-skill-item {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				margin: 1vh 0 1vh 0;
				position: inherit;
				text-shadow: $shadow;
				width: 100%;
				&:first-of-type {
					h4 {
						img {
							filter: invert(62%) sepia(12%) saturate(549%) hue-rotate(356deg) brightness(101%) contrast(83%); //Like $title-color
						}
					}
					.maj-skill-cont {
						.skill-bar {
							background-color: $altered-text;
							.skill-mastery {
								width: 75%;
							}
							.skill-bns {
								width: 76%;
							}
						}
					}
				}
				&:nth-of-type(2) {
					h4 {
						img {
							filter: invert(62%) sepia(12%) saturate(549%) hue-rotate(356deg) brightness(101%) contrast(83%); //Like $title-color
						}
					}
					.maj-skill-cont {
						.skill-bar {
							background-color: $altered-text;
							.skill-mastery {
								border-radius: 100%; //Temporary
								height: 65%; //Temporary
								width: 2%;
							}
							.skill-bns {
								border-radius: 100%; //Temporary
								height: 75%; //Temporary
								width: 3%;
							}
						}
					}
					.p-s {
						color: $altered-text;
						margin-top: 0.5vh;
						text-shadow: $shadow;
						width: 80%;
						i {
							font-style: normal;
						}
					}
				}
				h4 {
					img {
						width: 2vmax;
						min-width: 16px;
					}
					.p-s {
						font-size: $normal-font;
					}
				}
				.maj-skill-cont {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					position: inherit;
					width: 100%;
					.skill-bar {
						border: $border-alt;
						align-items: center;
						background-color: $skill-disabled-container;
						border-radius: $section-title-radius;
						box-shadow: $shadow, $shadow-internal;
						display: flex;
						position: inherit;
						height: 30px;
						width: 80%;
						.skill-mastery {
							background: linear-gradient(135deg, $primary-color, $footer-mid-color);
							border-radius: $section-title-radius;
							display: flex;
							margin-left: 0.1vw;
							z-index: 2;
							height: 90%;
						}
						.skill-bns {
							background: linear-gradient(135deg, $title-color, $title-color-alt);
							border-radius: $section-title-radius;
							display: flex;
							margin-left: 0.1vw;
							position: absolute;
							z-index: 1;
							height: 90%;
						}
					}
					p {
						-webkit-text-stroke: 0.5px $title-color-alt;
						color: $title-color;
					}
				}
			}
			.min-skills-start {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				margin: 1vh 0 1vh 1vw;
				text-shadow: $shadow;
				width: 100%;
				.min-skills {
					-o-transition: width 0.5s;
					-moz-transition: width 0.5s;
					-webkit-transition: width 0.5s;
					border: $border-transparent;
					border-radius: $border-radius;
					display: flex;
					margin: 0 1vw;
					transition: width 0.5s;
					width: 50%;
					&[open] {
						width: 90%;
					}
					summary {
						background-color: $secondary-color;
						background-image: url(../img/background-title.jpg);
						background-position: left center;
						background-repeat: no-repeat;
						background-size: cover;
						border: $border;
						border-radius: $border-radius;
						font-size: $h4;
						padding: 0 1vw;
						text-align: start;
						text-shadow: $shadow;
						&:hover {
							cursor: pointer;
						}
					}
					.min-skills-ord {
						align-items: flex-start;
						display: flex;
						flex-direction: column;
						list-style: none;
						padding: 0 1vw 0 1vw;
						position: inherit;
						width: 100%;
						.min-skill-item {
							align-items: flex-start;
							display: flex;
							flex-direction: column;
							margin: 1vh 0 1vh 0;
							text-shadow: $shadow;
							width: 100%;
							&:first-of-type {
								h5 {
									img {
										filter: invert(62%) sepia(12%) saturate(549%) hue-rotate(356deg) brightness(101%) contrast(83%); //Like $title-color
									}
								}
								.min-skill-cont {
									.skill-bar {
										background-color: $altered-text;
										.skill-mastery {
											width: 35%;
										}
										.skill-bns {
											width: 36%;
										}
									}
								}
							}
							&:nth-of-type(2) {
								h5 {
									img {
										filter: invert(62%) sepia(12%) saturate(549%) hue-rotate(356deg) brightness(101%) contrast(83%); //Like $title-color
									}
								}
								.min-skill-cont {
									.skill-bar {
										background-color: $altered-text;
										.skill-mastery {
											width: 58%;
										}
										.skill-bns {
											width: 59%;
										}
									}
								}
							}
							h5 {
								img {
									width: 2vmax;
									min-width: 16px;
								}
							}
							.min-skill-cont {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								position: inherit;
								width: 100%;
								.skill-bar {
									border: $border-alt;
									align-items: center;
									background-color: $skill-disabled-container;
									border-radius: $section-title-radius;
									box-shadow: $shadow, $shadow-internal;
									display: flex;
									position: relative;
									height: 30px;
									width: 50%;
									.skill-mastery {
										background: linear-gradient(135deg, $primary-color, $footer-mid-color);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										z-index: 2;
										height: 90%;
									}
									.skill-bns {
										background: linear-gradient(135deg, $title-color, $title-color-alt);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										position: absolute;
										z-index: 1;
										height: 90%;
									}
								}
								p {
									-webkit-text-stroke: 0.5px $title-color-alt;
									color: $title-color;
								}
							}
						}
						/*Temporary*/
						.min-skill-item-otw {
							align-items: flex-start;
							display: flex;
							flex-direction: column;
							margin: 1vh 0 1vh 0;
							text-shadow: $shadow;
							width: 100%;
							h5 {
								img {
									width: 2vmax;
									min-width: 16px;
								}
								em {
									font-size: $normal-font;
								}
							}
							.min-skill-cont {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								position: inherit;
								width: 100%;
								.skill-bar {
									border: 1px dashed $title-color;
									align-items: center;
									background-color: $skill-disabled-container;
									border-radius: $section-title-radius;
									box-shadow: $shadow, $shadow-internal;
									display: flex;
									position: relative;
									height: 30px;
									width: 50%;
									.skill-mastery {
										background: linear-gradient(135deg, $primary-color, $footer-mid-color);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										z-index: 2;
										height: 90%;
									}
									.skill-bns {
										background: linear-gradient(135deg, $title-color, $title-color-alt);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										position: absolute;
										z-index: 1;
										height: 90%;
									}
								}
								p {
									color: $title-color;
								}
							}
						}
					}
				}
			}
		}
	}
	hr {
		border: $border;
	}
	.access-skills {
		width: 50%;
		h2 {
			background-color: $secondary-color;
			background-image: url(../img/background-title.jpg);
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
			border-bottom: $border;
			text-shadow: $shadow;
		}
		.access-skills-list {
			list-style-position: inside;
			position: relative;
			height: 85%;
			.access-skills-item {
				color: $title-color;
				font-family: $font-title;
				font-size: $h5;
				margin: 1vh 0 0 1vw;
				text-shadow: $shadow;
				em {
					-webkit-text-stroke: 0.5px $dark-color;
					color: $logo-p-color;
					font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
					font-size: $normal-font;
				}
				&:nth-of-type(5) {
					em {
						i {
							-webkit-text-stroke: 0.5px $title-color-alt;
							color: $title-color;
						}
					}
				}
				&:last-of-type {
					color: $altered-text;
					font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
					font-size: $normal-font;
					list-style: none;
					margin: 0 1vw 0 0;
					position: absolute;
					bottom: 0;
					right: 0;
					a {
						-moz-transition: 0.5s ease;
						-o-transition: 0.5s ease;
						-webkit-transition: 0.5s ease;
						color: $altered-text;
						font-style: italic;
						text-decoration: none;
						transition: 0.5s ease;
						&:visited {
							color: $visited-links-perm;
						}
						&:hover,
						&:visited:hover {
							color: $title-color;
						}
						img {
							width: $normal-font;
						}
					}
				}
			}
		}
	}
}
