.skills-equip {
	display: flex;
	justify-content: flex-start;
	position: relative;
	min-height: 650px;
	width: 100%;
	.maj-skills {
		position: inherit;
		width: 50%;
		h2 {
			@include title-background;
			border-bottom: $border;
		}
		.maj-skills-ord {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0 1vw 0 1vw;
			position: inherit;
			width: 100%;
			.maj-skill-item {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				margin: 1vh 0 1vh 0;
				position: inherit;
				width: 100%;
				&:first-of-type {
					h4 {
						img {
							filter: $title-filter;
						}
					}
					.maj-skill-cont {
						.skill-bar {
							background-color: $altered-text;
							.skill-mastery {
								width: 75%;
							}
							.skill-bns {
								width: 76%;
							}
						}
					}
				}
				&:nth-of-type(2) {
					h4 {
						img {
							filter: $title-filter;
						}
					}
					.maj-skill-cont {
						.skill-bar {
							background-color: $altered-text;
							.skill-mastery {
								width: 2%;
							}
							.skill-bns {
								width: 3%;
							}
						}
					}
					.p-s {
						color: $altered-text;
						margin-top: 0.5vh;
						text-shadow: $shadow;
						width: 80%;
						i {
							font-style: normal;
						}
					}
				}
				h4 {
					text-align: start;
					img {
						width: 2vmax;
						min-width: 16px;
					}
					.p-s {
						font-size: $normal-font;
					}
				}
				.maj-skill-cont {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					position: inherit;
					width: 100%;
					.skill-bar {
						border: $border-alt;
						align-items: center;
						background-color: $skill-disabled-container;
						border-radius: $section-title-radius;
						box-shadow: $shadow, $shadow-internal;
						display: flex;
						overflow: hidden;
						position: inherit;
						height: 30px;
						width: 80%;
						.skill-mastery {
							background: linear-gradient(135deg, $primary-color, $footer-mid-color);
							border-radius: $section-title-radius;
							display: flex;
							margin-left: 0.1vw;
							z-index: 2;
							height: 90%;
						}
						.skill-bns {
							background: linear-gradient(135deg, $title-color, $title-color-alt);
							border-radius: $section-title-radius;
							display: flex;
							margin-left: 0.1vw;
							position: absolute;
							z-index: 1;
							height: 90%;
						}
					}
					p {
						-webkit-text-stroke: 0.5px $title-color-alt;
						color: $title-color;
					}
				}
			}
			.min-skills-start {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				margin: 1vh 0 1vh 1vw;
				width: 100%;
				.min-skills {
					@include base-transition;
					border: $border-transparent;
					border-radius: $border-radius;
					display: flex;
					margin: 0 1vw;
					&:not([open]) {
						width: 50%;
					}
					&[open] {
						width: 90%;
					}
					summary {
						@include title-background;
						border: $border;
						border-radius: $border-radius;
						cursor: pointer;
						font-size: $h4;
						padding: 0 1vw;
						text-align: start;
					}
					.min-skills-ord {
						align-items: flex-start;
						display: flex;
						flex-direction: column;
						list-style: none;
						padding: 0 1vw 0 1vw;
						position: inherit;
						width: 100%;
						.min-skill-item {
							align-items: flex-start;
							display: flex;
							flex-direction: column;
							margin: 1vh 0;
							width: 100%;
							&:first-of-type {
								h5 {
									img {
										filter: $title-filter;
									}
								}
								.min-skill-cont {
									.skill-bar {
										background-color: $altered-text;
										.skill-mastery {
											width: 35%;
										}
										.skill-bns {
											width: 36%;
										}
									}
								}
							}
							&:nth-of-type(2) {
								h5 {
									img {
										filter: $title-filter;
									}
								}
								.min-skill-cont {
									.skill-bar {
										background-color: $altered-text;
										.skill-mastery {
											width: 58%;
										}
										.skill-bns {
											width: 59%;
										}
									}
								}
							}
							h5 {
								img {
									width: 2vmax;
									min-width: 16px;
								}
							}
							.min-skill-cont {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								position: inherit;
								width: 100%;
								.skill-bar {
									border: $border-alt;
									align-items: center;
									background-color: $skill-disabled-container;
									border-radius: $section-title-radius;
									box-shadow: $shadow, $shadow-internal;
									display: flex;
									overflow: hidden;
									position: relative;
									height: 30px;
									width: 50%;
									.skill-mastery {
										background: linear-gradient(135deg, $primary-color, $footer-mid-color);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										z-index: 2;
										height: 90%;
									}
									.skill-bns {
										background: linear-gradient(135deg, $title-color, $title-color-alt);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										position: absolute;
										z-index: 1;
										height: 90%;
									}
								}
								p {
									-webkit-text-stroke: 0.5px $title-color-alt;
									color: $title-color;
								}
							}
						}
						/*Temporary - To continue in next projects*/
						.min-skill-item-otw {
							align-items: flex-start;
							display: flex;
							flex-direction: column;
							margin: 1vh 0;
							width: 100%;
							h5 {
								text-align: start;
								img {
									width: 2vmax;
									min-width: 16px;
								}
								em {
									font-size: $normal-font;
								}
							}
							.min-skill-cont {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								position: inherit;
								width: 100%;
								.skill-bar {
									border: 1px dashed $title-color;
									align-items: center;
									background-color: $skill-disabled-container;
									border-radius: $section-title-radius;
									box-shadow: $shadow, $shadow-internal;
									display: flex;
									overflow: hidden;
									position: relative;
									height: 30px;
									width: 50%;
									.skill-mastery {
										background: linear-gradient(135deg, $primary-color, $footer-mid-color);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										z-index: 2;
										height: 90%;
									}
									.skill-bns {
										background: linear-gradient(135deg, $title-color, $title-color-alt);
										border-radius: $section-title-radius;
										display: flex;
										margin-left: 0.1vw;
										position: absolute;
										z-index: 1;
										height: 90%;
									}
								}
								p {
									color: $title-color;
								}
							}
						}
					}
				}
			}
		}
	}
	hr {
		border: $border;
	}
	.access-skills {
		position: relative;
		width: 50%;
		h2 {
			@include title-background;
			border-bottom: $border;
		}
		.access-skills-cont {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 90%;
			width: 100%;
			.access-skills-list {
				align-items: center;
				display: flex;
				flex-direction: column;
				.access-skills-item {
					border-bottom: $border;
					display: flex;
					width: 90%;
					h6 {
						padding: 1vh 1vw;
						text-align: start;
						width: 50%;
					}
					p {
						-webkit-text-stroke: 0.5px $dark-color;
						background: transparentize($primary-color, 0.3);
						display: flex;
						flex-direction: column;
						padding: 1vh 1vw;
						width: 50%;
						em {
							-webkit-text-stroke: 0.5px $title-color-alt;
							color: $title-color;
						}
					}
					&:first-of-type {
						border-top: $border;
						margin-top: 1vh;
					}
				}
			}
			.skills-add-info-cont {
				display: flex;
				justify-content: flex-end;
				padding: 1vh 1vw;
				width: 100%;
				.skills-add-info {
					color: $altered-text;
					text-align: right;
					width: 80%;
					a {
						@include base-transition;
						color: $logo-p-color;
						font-style: italic;
						text-decoration: none;
						&:visited {
							color: $visited-links-perm;
						}
						&:hover,
						&:visited:hover {
							color: $title-color;
						}
						img {
							width: $normal-font;
						}
					}
				}
			}
		}
	}
}
