.about-me {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 100%;
	.greetings {
		align-items: center;
		background-color: $dark-color;
		display: flex;
		justify-content: center;
		height: 91vh;
		min-height: 440px;
		width: 100%;
	}
	.transition {
		background: linear-gradient(to bottom, $dark-color 0%, transparent 100%);
		border: none;
		height: 10vh;
		width: 100%;
	}
	.personal-box {
		align-items: center;
		background-color: $inner-box;
		background-image: url(../img/background-section.jpg);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		border: $border;
		border-radius: $section-title-radius;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 5vh;
		position: inherit;
		width: 90%;
		@import "main1-my-name-style";
		@import "main1-my-hobbies-style";
	}
}