@use "sass:math";

/*Schermi > 1920px*/
@media screen and (min-width: 1921px) {
	header {
		border-bottom-right-radius: $border-radius * 2;
		height: $header-height * 1.5;
		nav {
			border-bottom: $border-lg;
			border-bottom-right-radius: 20px;
			.logo-container {
				margin-left: $header-margin * 2;
				.logo-img {
					.logo-alt {
						width: 150px;
					}
				}
				em {
					font-size: $logo-title * 1.5;
				}
			}
			.nav-separator {
				border-right: $border-lg;
				border-radius: $border-radius * 2;
				width: $header-separator-width * 2;
				left: 400px;
			}
			.nav-section {
				.nav-menu {
					.nav-list {
						width: $header-link-box * 1.5;
						.nav-item {
							font-size: $header-link * 1.5;
							&:hover {
								box-shadow: 8px 8px 5px black;
							}
							&:active,
							&:visited:active {
								-moz-transform: translate(3px, 3px);
								-ms-transform: translate(3px, 3px);
								-o-transform: translate(3px, 3px);
								-webkit-transform: translate(3px, 3px);
								transform: translate(3px, 3px);
							}
						}
						.list-separator {
							border: $border-lg;
							height: $header-link-separator-height * 1.5;
						}
					}
				}
				.content-separator {
					border-right: $border-lg;
				}
				.lang-stg {
					margin: 0 10px 0 10px;
					width: $language-settings-box * 1.5;
					.lang-btn {
						border-radius: $border-radius * 2;
						font-size: $language-button-marker * 1.5;
						padding: $language-button-padding * 2;
						.lang-btn-alt {
							width: 60px;
						}
						&:hover {
							border: $border-lg;
						}
					}
					.lang-content {
						border: $border-lg;
						border-right: none;
						border-top: none;
						border-bottom-right-radius: $border-radius * 2;
						padding: $language-button-padding * 2;
						height: $language-content-height * 1.5;
						left: -10px;
						right: -10px;
						.lang-item {
							margin-top: $language-item-separator * 2;
							.lang-item-alt {
								width: 35px;
							}
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			height: $greetings-height * 1.5;
			h1 {
				font-size: $h1 * 1.5;
				bottom: $h1-adjustment * 1.5;
			}
		}
		.transition {
			height: $transition-height * 2;
		}
		.personal-box {
			.my-name {
				height: 1200px * 1.5; //start
				.section-title {
					h2 {
						font-size: 42px * 1.5; //stat
					}
				}
				.section-detail {
					.add-info {
                        text-shadow: 10px 10px 10px black;
						font-size: 32px * 1.5; //stat
						margin-top: 40px * 1.5; //stat
					}
					.pic-pag {
						.pic-pag-mid {
							.inner {
								.slide {
									.slide-content {
										.overlay-btn {
											.img-block {
												box-shadow: 10px 10px 15px black;
												width: 500px * 1.5; //stat
											}
										}
										.overlay {
											width: 500px * 1.5; //stat
											.image-desc {
												font-size: 22px * 1.5; //stat
												padding: 10px * 2; //stat
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*header*/
@media screen and (max-width: 1052px) {
	header {
		nav {
			.nav-section {
				.nav-menu {
					.nav-list {
						width: $header-link-box * 0.75;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 879px) {
	header {
		nav {
			.nav-separator {
				left: 255px;
			}
			.nav-section {
				.nav-menu {
					.nav-list {
						width: auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		height: $header-height * 0.75;
		nav {
			.logo-container {
				.logo-img {
					.logo-alt {
						width: 67px;
					}
				}
				em {
					font-size: $logo-title * 0.75;
				}
			}
			.nav-separator {
				left: 190px;
			}
			.nav-section {
				flex-direction: row-reverse;
				.nav-menu {
					align-items: flex-end;
					border: $border;
					border-radius: $border-radius;
					display: flex;
					flex-direction: column;
					margin-left: $header-menu-small-left;
					margin-right: $header-menu-small-right;
					position: relative;
					.nav-menu-btn,
					.nav-list {
						display: flex;
					}
					.nav-menu-btn {
						cursor: pointer;
						border-radius: $border-radius;
						z-index: 2;
						.menu-icon {
							display: block;
							filter: invert(1);
						}
						&:active {
							background-color: transparentize(black, 0.5);
						}
					}
					#expandList {
						display: none;
						&:checked {
							~ .nav-list {
								display: flex;
								height: $header-link-box-small;
							}
						}
					}
					.nav-list {
						-moz-transition: height 0.5s ease;
						-ms-transition: height 0.5s ease;
						-o-transition: height 0.5s ease;
						-webkit-transition: height 0.5s ease;
						align-items: flex-end;
						flex-direction: column;
						justify-content: flex-end;
						overflow: hidden;
						position: absolute;
						transition: height 0.5s ease;
						z-index: 1;
						height: 0;
						width: $header-link-box;
						max-width: auto;
						right: -10px;
						top: 60px;
						.nav-item {
							background-color: black;
							background-image: url(../img/background-title.jpg);
							background-position: top;
							background-repeat: no-repeat;
							background-size: cover;
							border: $border;
							border-radius: $border-radius;
							font-size: $header-link * 0.9;
							padding: 5px;
							position: relative;
							bottom: 1px;
							&:hover {
								box-shadow: 3px 3px 5px black;
							}
							&:active,
							&:visited:active {
								-moz-transform: translate(1px, 1px);
								-ms-transform: translate(1px, 1px);
								-o-transform: translate(1px, 1px);
								-webkit-transform: translate(1px, 1px);
								transform: translate(1px, 1px);
							}
						}
						.list-separator {
							display: none;
						}
					}
				}
				.lang-stg {
					.lang-btn {
						font-size: $language-button-marker * 0.75;
						.lang-btn-alt {
							width: 30px;
						}
					}
					.lang-content {
						align-items: flex-end;
						border-right: $border;
						border-bottom-left-radius: $border-radius;
						flex-direction: row;
						justify-content: space-evenly;
						height: $language-content-height * 0.75;
						left: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 342px) {
	header {
		height: $header-height * 0.55;
		nav {
			.nav-section {
				.nav-menu {
					margin-left: math.div($header-menu-small-left, 5);
					margin-right: math.div($header-menu-small-right, 5);
					.nav-list {
						right: -2px;
						top: 59px;
						.nav-item {
							font-size: $header-link * 0.8;
						}
					}
					#expandList {
						&:checked {
							~ .nav-list {
								height: $header-link-box-small * 0.95;
							}
						}
					}
				}
				.lang-stg {
					width: $language-settings-box * 0.75;
					.lang-content {
						align-items: center;
						flex-direction: column;
						justify-content: flex-end;
						height: $language-content-height * 0.9;
					}
				}
			}
		}
	}
}

/*about me*/
@media screen and (max-width: 1280px) {
	.about-me {
		.personal-box {
			.my-name {
				.section-detail {
					.pic-pag {
						.pic-pag-mid {
							.inner {
								.slide {
									.overlay-btn {
										.img-block {
											width: 400px;
										}
									}
									.overlay {
										width: 400px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 932px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.95;
			}
		}
		.personal-box {
			.my-name {
				height: 800px;
				.section-title {
					.h2 {
						font-size: 42px * 0.75;
					}
				}
				.section-detail {
                    .add-info {
                        font-size: 32px * 0.75;
                        margin-top: 40px * 0.75;
                    }
					.pic-pag {
						.pic-pag-mid {
							flex-direction: column;
							overflow: hidden;
							#slide1 {
								&:checked {
									~ .inner {
										margin-left: 0;
									}
									~ .bullets {
										.bullet-points {
											&:nth-child(1) {
												background: #444;
											}
										}
									}
								}
							}
							#slide2 {
								&:checked {
									~ .inner {
										margin-left: -100%;
									}
									~ .bullets {
										.bullet-points {
											&:nth-child(2) {
												background: #444;
											}
										}
									}
								}
							}
							.bullets {
								align-items: center;
								display: flex;
								justify-content: center;
                                margin-bottom: 20px;
                                margin-top: 20px;
								.bullet-points {
									background: radial-gradient(#ccc 0%, transparent 100%);
									border-radius: 100%;
									cursor: pointer;
									margin: 0 10px;
									opacity: 0.5;
									transition: background-color 0.5s ease-out;
									height: 30px;
									width: 30px;
									&:hover {
										background-color: black;
										transition: background-color 0.5s ease-in;
									}
								}
							}
							.inner {
								-moz-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
								-ms-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
								-o-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
								-webkit-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
								transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
								width: 200%;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 820px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.90;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.85;
			}
		}
	}
}

@media screen and (max-width: 667px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.75;
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.65;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.60;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.55;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.about-me {
		.greetings {
			h1 {
				font-size: math.div($h1, 2);
			}
		}
	}
}

/*GALAXY FOLD - Schermi <= 280px*/
@media screen and (max-width: 280px) {
	header {
		nav {
			.logo-container {
				.logo-img {
					.logo-alt {
						width: 50px;
					}
				}
				em {
					font-size: $logo-title * 0.55;
				}
			}
			.nav-separator {
				left: 140px;
			}
			.nav-section {
				.nav-menu {
					margin-left: math.div($header-menu-small-left, 2);
					margin-right: math.div($header-menu-small-right, 2);
					.nav-menu-btn {
						.menu-icon {
							width: 30px;
						}
					}
					.nav-list {
						right: -5px;
						top: 43px;
						.nav-item {
							font-size: $header-link * 0.75;
						}
					}
					#expandList {
						&:checked {
							~ .nav-list {
								height: $header-link-box-small * 0.9;
							}
						}
					}
				}
				.lang-stg {
					font-size: $language-button-marker * 0.55;
					margin-right: 5px;
					width: $language-settings-box * 0.75;
					.lang-btn {
						.lang-btn-alt {
							width: 25px;
						}
					}
					.lang-content {
						height: $language-content-height * 0.9;
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.45;
			}
		}
	}
}

/*HEIGHTS*/
@media screen and (max-height: 1368px) {
	.about-me {
		.greetings {
			height: $greetings-height * 1.2;
			h1 {
				bottom: $h1-adjustment * 1.2;
			}
		}
		.transition {
			height: $transition-height * 1.2;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 1.2;
				.section-title {
					padding-bottom: $title-padding-bottom * 1.2;
					padding-top: $title-padding-top * 1.2;
				}
			}
		}
	}
}

@media screen and (max-height: 1024px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.9;
			h1 {
				bottom: $h1-adjustment * 0.9;
			}
		}
		.transition {
			height: $transition-height * 0.9;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.9;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.9;
					padding-top: $title-padding-top * 0.9;
				}
			}
		}
	}
}

@media screen and (max-height: 932px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.8;
			h1 {
				bottom: $h1-adjustment * 0.8;
			}
		}
		.transition {
			height: $transition-height * 0.8;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.8;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.8;
					padding-top: $title-padding-top * 0.8;
				}
			}
		}
	}
}

@media screen and (max-height: 896px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.75;
			h1 {
				bottom: $h1-adjustment * 0.75;
			}
		}
		.transition {
			height: $transition-height * 0.75;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.75;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.75;
					padding-top: $title-padding-top * 0.75;
				}
			}
		}
	}
}

@media screen and (max-height: 768px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.65;
			h1 {
				bottom: $h1-adjustment * 0.65;
			}
		}
		.transition {
			height: $transition-height * 0.65;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.65;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.65;
					padding-top: $title-padding-top * 0.65;
				}
			}
		}
	}
}

@media screen and (max-height: 667px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.6;
			h1 {
				bottom: $h1-adjustment * 0.6;
			}
		}
		.transition {
			height: $transition-height * 0.6;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.6;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.6;
					padding-top: $title-padding-top * 0.6;
				}
			}
		}
	}
}

@media screen and (max-height: 512px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.45;
			h1 {
				bottom: $h1-adjustment * 0.45;
			}
		}
		.transition {
			height: $transition-height * 0.45;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.45;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.45;
					padding-top: $title-padding-top * 0.45;
				}
			}
		}
	}
}

@media screen and (max-height: 430px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.4;
			h1 {
				bottom: $h1-adjustment * 0.4;
			}
		}
		.transition {
			height: $transition-height * 0.4;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.4;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.4;
					padding-top: $title-padding-top * 0.4;
				}
			}
		}
	}
}

@media screen and (max-height: 414px) {
	.about-me {
		.greetings {
			height: $greetings-height * 0.35;
			h1 {
				bottom: $h1-adjustment * 0.35;
			}
		}
		.transition {
			height: $transition-height * 0.35;
		}
		.personal-box {
			.my-name {
				height: $my-name-box-height * 0.35;
				.section-title {
					padding-bottom: $title-padding-bottom * 0.35;
					padding-top: $title-padding-top * 0.35;
				}
			}
		}
	}
}