/*Animations*/
@media (prefers-reduced-motion: no-preference) {
	@keyframes fade-in-box {
		from {
			scale: 0.5;
			opacity: 0;
		}
		to {
			scale: 1;
			opacity: 1;
		}
	}
	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		40% {
			opacity: 1;
		}
		85%,
		100% {
			opacity: 0;
		}
	}

	/*FireFox locker due to incompatibility of the browser*/
	@supports (animation-timeline: view()) {
		.about-me > .greetings {
			animation: fade-out linear forwards;
			animation-range-start: 25vh;
			animation-range-end: cover;
			animation-timeline: view();
		}
	}

	.about-me > .personal-box {
		animation: fade-in-box linear;
		animation-range-start: cover;
		animation-range-end: 50vh;
		animation-timeline: view();
	}

	.personal-box > .my-hobbies {
		animation: fade-in linear;
		animation-range-start: cover;
		animation-range-end: 20vh;
		animation-timeline: view();
	}

	.name-section-detail > .name-pic-pag {
		animation: fade-in linear;
		animation-range: entry;
		animation-timeline: view();
	}

	.hobby-section-detail > .hobby-pic-pag {
		animation: fade-in linear forwards;
		animation-range-start: cover;
		animation-range-end: 50vh;
		animation-timeline: view();
	}
}

/*SPECIAL - Screens > 1920px*/
@media screen and (min-width: 1921px) {
	/*Constant: 1.5*/
	header {
		border-bottom-right-radius: $border-radius * 1.5;
		max-height: $header-height-limits * 1.5;
		.header-nav {
			border-bottom: $border-lg;
			border-bottom-right-radius: $border-radius * 1.5;
			.logo-container {
				em {
					font-size: $h1 * 1.5;
				}
			}
			.head-separator {
				border-right: $border-lg;
				border-radius: $border-radius * 1.5;
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 1.5;
						}
						.list-separator {
							border: $border-lg;
						}
					}
				}
				.head-cont-separator {
					border-right: $border-lg;
				}
				.lang-stg {
					.lang-btn {
						border-radius: $border-radius * 1.5;
						&:hover {
							border: $border-lg;
						}
						span {
							font-size: $normal-font * 1.5;
						}
					}
					.lang-content {
						border: $border-lg;
						border-bottom-right-radius: $border-radius * 1.5;
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 1.5;
			}
		}
		.personal-box {
			border: $border-lg;
			border-radius: $section-title-radius * 1.5;
			.my-name {
				min-height: $name-min-viewport-height * 1.5;
				.name-section-title {
					border-bottom: $border-lg;
					border-top-left-radius: $section-title-radius * 1.5;
					border-top-right-radius: $section-title-radius * 1.5;
					h2 {
						font-size: $h2 * 1.5;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 1.5;
					}
					.name-pic-pag {
						.name-inner {
							.name-slide {
								.name-slide-content {
									.name-overlay-btn {
										.name-img-block {
											border-radius: $border-radius * 1.5;
											min-height: $name-min-viewport-image-height * 1.5;
											max-width: $name-image-block-limits * 1.5;
										}
									}
									.name-overlay {
										border-bottom-left-radius: $border-radius * 1.5;
										border-bottom-right-radius: $border-radius * 1.5;
										.name-img-desc {
											font-size: $normal-font * 1.5;
										}
									}
								}
							}
						}
					}
					.add-info {
						font-size: $h3 * 1.5;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					border-bottom: $border-lg;
					border-top: $border-lg;
					border-top-left-radius: $section-title-radius * 1.5;
					border-top-right-radius: $section-title-radius * 1.5;
					h2 {
						font-size: $h2 * 1.5;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									border: $border-lg;
									border-radius: $border-radius * 1.5;
									min-height: $hobby-slide-height-limits * 1.5;
									h3 {
										border-bottom: $border-lg;
										font-size: $h3 * 1.5;
									}
									.hobby-img-desc {
										font-size: $normal-font * 1.5;
									}
								}
							}
						}
					}
				}
			}
		}
		.max-sticky-height {
			a {
				border: $border-lg;
				border-radius: $border-radius * 1.5;
				padding: 7.5px 7.5px;
			}
		}
	}
	footer {
		border-top: $border-lg;
		min-height: 621px;
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 1.5;
				}
				fieldset {
					label {
						font-size: $h5 * 1.5;
					}
					input {
						border-radius: $section-title-radius * 1.5;
						font-size: $form-font * 1.5;
					}
					textarea {
						border-radius: $border-radius * 1.5;
						border-bottom-right-radius: 0;
						font-size: $form-font * 1.5;
					}
				}
				span {
					input {
						border: $border-lg;
						border-radius: $section-title-radius * 1.5;
						font-size: $form-font * 1.5;
					}
				}
			}
			.footer-separator {
				border: none;
				border-left: $border-lg;
			}
			.socials {
				h2 {
					font-size: $h2 * 1.5;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 1.5;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 1.5;
							}
						}
					}
				}
				.side-note {
					border-top: $border-lg;
					font-size: 24px;
				}
			}
		}
	}
}

@media screen and (max-width: 1756px) {
	/*Constant: 0.95*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.95;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.95;
						}
					}
					.lang-stg {
						.lang-btn {
							span {
								font-size: $normal-font * 0.95;
							}
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.95;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.95;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.95;
					}
					.add-info {
						font-size: $h3 * 0.95;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.95;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.95;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.95;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.95;
				}
				fieldset {
					label {
						font-size: $h5 * 0.95;
					}
					input {
						font-size: $form-font * 0.95;
					}
					textarea {
						font-size: $form-font * 0.95;
					}
				}
				span {
					input {
						font-size: $form-font * 0.95;
					}
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.95;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.95;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.95;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1592px) {
	/*Constant: 0.9*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.9;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.9;
						}
					}
					.lang-stg {
						.lang-btn {
							span {
								font-size: $normal-font * 0.9;
							}
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.9;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.9;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.9;
					}
					.add-info {
						font-size: $h3 * 0.9;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.9;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.9;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.9;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.9;
				}
				fieldset {
					label {
						font-size: $h5 * 0.9;
					}
					input {
						font-size: $form-font * 0.9;
					}
					textarea {
						font-size: $form-font * 0.9;
					}
				}
				span {
					input {
						font-size: $form-font * 0.9;
					}
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.9;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.9;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.9;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1428px) {
	/*Constant: 0.85*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.85;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.85;
						}
					}
					.lang-stg {
						.lang-btn {
							span {
								font-size: $normal-font * 0.85;
							}
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.85;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.85;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.85;
					}
					.add-info {
						font-size: $h3 * 0.85;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.85;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.85;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.85;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.85;
				}
				fieldset {
					label {
						font-size: $h5 * 0.85;
					}
					input {
						font-size: $form-font * 0.85;
					}
					textarea {
						font-size: $form-font * 0.85;
					}
				}
				span {
					input {
						font-size: $form-font * 0.85;
					}
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.85;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.85;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.85;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1264px) {
	/*Constant: 0.8*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.8;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.8;
						}
					}
					.lang-stg {
						.lang-btn {
							span {
								font-size: $normal-font * 0.8;
							}
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.8;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.8;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.8;
					}
					.add-info {
						font-size: $h3 * 0.8;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.8;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.8;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.8;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.8;
				}
				fieldset {
					label {
						font-size: $h5 * 0.8;
					}
					input {
						font-size: $form-font * 0.8;
					}
					textarea {
						font-size: $form-font * 0.8;
					}
				}
				span {
					input {
						font-size: $form-font * 0.8;
					}
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.8;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.8;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.8;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	/*Constant: 0.75 - no $form-font*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.75;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.75;
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.75;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.75;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.75;
					}
					.add-info {
						font-size: $h3 * 0.75;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.75;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.75;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.75;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.75;
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.75;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.75;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.75;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 936px) {
	/*Constant: 0.7 - no $form-font*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.7;
				}
			}
			.head-section {
				.head-menu {
					.head-list {
						.head-list-item {
							font-size: $h5 * 0.7;
						}
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.7;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.7;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.7;
					}
					.add-info {
						font-size: $h3 * 0.7;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.7;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.7;
									}
									.hobby-img-desc {
										font-size: $normal-font * 0.7;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.7;
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.7;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.7;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.7;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 772px) {
	/*Constant: 0.65 - no $form-font, $normal-font*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.65;
				}
			}
			.head-section {
				flex-direction: row-reverse;
				justify-content: flex-start;
				.head-menu {
					align-items: flex-end;
					border: $border;
					border-radius: $border-radius;
					display: flex;
					flex-direction: column;
					margin: 0 1vw;
					position: relative;
					width: auto;
					.head-menu-btn,
					.head-list {
						display: flex;
					}
					.head-menu-btn {
						cursor: pointer;
						border-radius: $border-radius;
						z-index: 2;
						.menu-icon {
							display: block;
							width: 4vmax;
							min-width: calc($h1/2);
						}
						&:active {
							background-color: transparentize($dark-color, 0.5);
						}
					}
					#expandList {
						display: none;
						&:checked {
							~ .head-list {
								display: flex;
								height: 75px;
							}
						}
					}
					.head-list {
						-moz-transition: height 0.5s ease;
						-o-transition: height 0.5s ease;
						-webkit-transition: height 0.5s ease;
						align-items: flex-end;
						flex-direction: column;
						justify-content: flex-end;
						overflow: hidden;
						position: absolute;
						transition: height 0.5s ease;
						z-index: 1;
						height: 0;
						width: $min-viewport-width;
						right: -5px;
						top: 45px;
						.head-list-item {
							background-color: black;
							background-image: url(../img/background-title.jpg);
							background-position: top;
							background-repeat: no-repeat;
							background-size: cover;
							border: $border;
							border-radius: $border-radius;
							font-size: $h5 * 0.65;
							margin-top: 0.5vmax;
							padding: 0 0.5vmax;
							position: relative;
						}
						.list-separator {
							display: none;
						}
					}
				}
				.lang-stg {
					.lang-content {
						border-right: $border;
						border-bottom-left-radius: $border-radius;
					}
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.65;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.65;
					}
				}
				.name-section-detail {
					justify-content: center;
					.sm-presentation {
						font-size: $h3 * 0.65;
					}
					.name-pic-pag {
						align-items: flex-start;
						overflow: hidden;
						#nameSlide1 {
							&:hover {
								~ .name-bullets {
									.name-bullet-effect {
										&:first-of-type {
											visibility: visible;
										}
									}
								}
							}
							&:checked {
								~ .name-inner {
									margin-left: 0;
								}
								~ .name-bullets {
									.name-bullet-points {
										&:nth-child(2) {
											background-color: $secondary-color;
											background-image: url(../img/background-title.jpg);
										}
									}
								}
							}
						}
						#nameSlide2 {
							&:hover {
								~ .name-bullets {
									.name-bullet-effect {
										&:last-of-type {
											visibility: visible;
										}
									}
								}
							}
							&:checked {
								~ .name-inner {
									margin-left: -100%;
								}
								~ .name-bullets {
									.name-bullet-points {
										&:nth-child(4) {
											background-color: $secondary-color;
											background-image: url(../img/background-title.jpg);
										}
									}
								}
							}
						}
						.name-bullets {
							align-items: center;
							align-self: center;
							display: flex;
							justify-content: space-evenly;
							margin: 2vh 0;
							width: 25%;
							.name-bullet-effect {
								color: $title-color;
								display: block;
								font-size: $h3 * 0.65;
								visibility: hidden;
							}
							.name-bullet-points {
								-moz-transition: background-color 0.5s ease-out;
								-o-transition: background-color 0.5s ease-out;
								-webkit-transition: background-color 0.5s ease-out;
								background-color: #ccc;
								border: $border;
								border-radius: 100%;
								box-shadow: $shadow;
								cursor: pointer;
								margin: 0 0.5vw;
								opacity: 0.5;
								transition: background-color 0.5s ease-out;
								height: 4vmin;
								min-height: 15px;
								width: 4vmin;
								min-width: 15px;
								&:hover {
									-moz-transition: background-color 0.5s ease-in;
									-o-transition: background-color 0.5s ease-in;
									-webkit-transition: background-color 0.5s ease-in;
									background-color: black;
									transition: background-color 0.5s ease-in;
								}
							}
						}
						.name-inner {
							-moz-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-ms-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-o-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-webkit-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							width: 200%;
							.name-slide {
								padding-bottom: 1.5vh;
								width: 75%;
								.name-slide-content {
									.name-overlay-btn {
										.name-img-block {
											height: 65vh;
											width: 75vw;
											min-width: $min-viewport-width * 0.85; //FIXED
										}
									}
									.name-overlay {
										.name-img-desc {
											padding: 1vh 3vw;
										}
									}
								}
							}
						}
					}
					.add-info {
						font-size: $h3 * 0.65;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.65;
					}
				}
				.hobby-section-detail {
					justify-content: center;
					.hobby-pic-pag {
						align-items: flex-start;
						overflow: hidden;
						#hobbySlide1 {
							&:hover {
								~ .hobby-bullets {
									.hobby-bullet-effect {
										&:nth-of-type(1) {
											visibility: visible;
										}
									}
								}
							}
							&:checked {
								~ .hobby-inner {
									margin-left: 0;
								}
								~ .hobby-bullets {
									.hobby-bullet-points {
										&:nth-child(2) {
											background-color: $secondary-color;
											background-image: url(../img/background-title.jpg);
										}
									}
								}
							}
						}
						#hobbySlide2 {
							&:hover {
								~ .hobby-bullets {
									.hobby-bullet-effect {
										&:nth-of-type(2) {
											visibility: visible;
										}
									}
								}
							}
							&:checked {
								~ .hobby-inner {
									margin-left: -100%;
								}
								~ .hobby-bullets {
									.hobby-bullet-points {
										&:nth-child(4) {
											background-color: $secondary-color;
											background-image: url(../img/background-title.jpg);
										}
									}
								}
							}
						}
						#hobbySlide3 {
							&:hover {
								~ .hobby-bullets {
									.hobby-bullet-effect {
										&:nth-of-type(3) {
											visibility: visible;
										}
									}
								}
							}
							&:checked {
								~ .hobby-inner {
									margin-left: -200%;
								}
								~ .hobby-bullets {
									.hobby-bullet-points {
										&:nth-child(6) {
											background-color: $secondary-color;
											background-image: url(../img/background-title.jpg);
										}
									}
								}
							}
						}
						.hobby-bullets {
							align-items: center;
							align-self: center;
							display: flex;
							justify-content: space-evenly;
							margin: 2vh 0;
							width: 37.5%;
							.hobby-bullet-effect {
								color: $title-color;
								display: block;
								font-size: $h3 * 0.65;
								visibility: hidden;
							}
							.hobby-bullet-points {
								-moz-transition: background-color 0.5s ease-out;
								-o-transition: background-color 0.5s ease-out;
								-webkit-transition: background-color 0.5s ease-out;
								background-color: #ccc;
								border: $border;
								border-radius: 100%;
								box-shadow: $shadow;
								cursor: pointer;
								margin: 0 0.5vw;
								opacity: 0.5;
								transition: background-color 0.5s ease-out;
								height: 4vmin;
								min-height: 15px;
								width: 4vmin;
								min-width: 15px;
								&:hover {
									-moz-transition: background-color 0.5s ease-in;
									-o-transition: background-color 0.5s ease-in;
									-webkit-transition: background-color 0.5s ease-in;
									background-color: $dark-color;
									transition: background-color 0.5s ease-in;
								}
							}
						}
						.hobby-inner {
							-moz-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-ms-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-o-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							-webkit-transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							transition: margin-left cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
							width: 300%;
							.hobby-slide {
								width: 75%;
								.hobby-slide-content {
									min-height: $hobby-slide-height-limits * 1.3; //FIXED
									width: 75vw;
									h3 {
										font-size: $h3 * 0.65;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		min-height: 828px;
		.footer-nav {
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			height: 95%;
			form {
				height: 47.5%;
				width: 75%;
				legend {
					align-self: center;
					font-size: $h2 * 0.65;
				}
				fieldset {
					flex-direction: column;
					label {
						font-size: $h5 * 0.65;
						width: 100%;
					}
					input {
						width: 100%;
					}
					textarea {
						width: 100%;
					}
				}
				span {
					margin-top: 1vh;
					input {
						min-width: 65px;
					}
				}
			}
			.footer-separator {
				border-bottom: $border;
				border-left: none;
				height: 0;
				width: 75%;
			}
			.socials {
				height: 47.5%;
				width: 90%;
				h2 {
					font-size: $h2 * 0.65;
					text-align: center;
				}
				.link-tree {
					.social-links {
						.envelope {
							align-items: center;
							display: flex;
							flex-direction: column;
							justify-content: center;
							margin-bottom: 0;
							margin-top: 1vh;
							height: 100%;
							h4 {
								font-size: $h4 * 0.65;
							}
							.link-group {
								justify-content: space-evenly;
								height: 50%;
							}
						}
					}
					.git {
						.envelope {
							align-items: center;
							margin-top: 0;
							height: 100%;
							h4 {
								font-size: $h4 * 0.65;
							}
							span {
								align-self: flex-start;
								margin-top: 1vmax;
								margin-left: 1vw;
								height: 50%;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 608px) {
	/*Constant: 0.6 - no $form-font, $normal-font, $h5*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.6;
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.6;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.6;
						br {
							display: block;
						}
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.6;
					}
					.name-pic-pag {
						.name-bullets {
							.name-bullet-effect {
								font-size: $h3 * 0.6;
							}
						}
					}
					.add-info {
						font-size: $h3 * 0.6;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.6;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-bullets {
							.hobby-bullet-effect {
								font-size: $h3 * 0.6;
							}
						}
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.6;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.6;
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.6;
				}
				.link-tree {
					.social-links {
						.envelope {
							h4 {
								font-size: $h4 * 0.6;
							}
						}
					}
					.git {
						.envelope {
							h4 {
								font-size: $h4 * 0.6;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 444px) {
	/*Constant: 0.55 - no $form-font, $normal-font, $h5, $h4*/
	header {
		.header-nav {
			.logo-container {
				em {
					font-size: $h1 * 0.55;
				}
			}
		}
	}
	.about-me {
		.greetings {
			h1 {
				font-size: $h1 * 0.55;
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: $h2 * 0.55;
					}
				}
				.name-section-detail {
					.sm-presentation {
						font-size: $h3 * 0.55;
					}
					.name-pic-pag {
						.name-bullets {
							.name-bullet-effect {
								font-size: $h3 * 0.55;
							}
						}
					}
					.add-info {
						font-size: $h3 * 0.55;
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: $h2 * 0.55;
					}
				}
				.hobby-section-detail {
					.hobby-pic-pag {
						.hobby-bullets {
							.hobby-bullet-effect {
								font-size: $h3 * 0.55;
							}
						}
						.hobby-inner {
							.hobby-slide {
								.hobby-slide-content {
									h3 {
										font-size: $h3 * 0.55;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		.footer-nav {
			form {
				legend {
					font-size: $h2 * 0.55;
				}
			}
			.socials {
				h2 {
					font-size: $h2 * 0.55;
				}
			}
		}
	}
}

/*GALAXY FOLD - Screens <= 280px*/
@media screen and (max-width: 280px) {
	/*Constant: 0.5=calc(x/2) - no $form-font, $normal-font, $h5, $h4, $h3*/
	header {
		min-width: $min-viewport-width;
		.header-nav {
			.logo-container {
				em {
					font-size: calc($h1/2);
				}
			}
		}
	}
	.about-me {
		min-width: $min-viewport-width;
		.greetings {
			h1 {
				font-size: calc($h1/2);
			}
		}
		.personal-box {
			.my-name {
				.name-section-title {
					h2 {
						font-size: calc($h2/2);
					}
				}
			}
			.my-hobbies {
				.hobby-section-title {
					h2 {
						font-size: calc($h2/2);
					}
				}
			}
		}
	}
	footer {
		min-width: $min-viewport-width;
		.footer-nav {
			.socials {
				h2 {
					font-size: calc($h2/2);
				}
			}
		}
	}
}
